@model IEnumerable<OdeToFood.Data.Models.Restaurant>

@{
    ViewBag.Title = "Index";
    ViewBag.Message = "Hello OdeToFood";
}

<h2>Index</h2>
<b>TEST SYSTEM</b>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    @Html.Partial("_RestaurantSummary", item)
}

